*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(22, 22, 22);
}

nav#navegacao{
    background-color: gray;

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;
    font-size: 1.5rem;
}

div#carta{
    position: absolute;
    top: 80px;
    left: 50px;
    background-color: black;
    height: 100px;
    width: 70px;
}
